/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    background-color: rgb(185, 185, 185);
    background-image: url(../img/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@font-face {
    font-family: AdverGothicRegular;
    src: url(../fonts/AdverGothic.ttf);
}

/* Header */
.header__body{
    display: flex;
    align-items: center;
    background-color: #26439f;
    height: 115px;
}
.header__logo img{
    display: flex;
}
.header__wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title h1{
    margin-right: 20px;
}
.header__title h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: AdverGothicRegular ;
}
.header__contact ul {
  display: flex;
}
.header__contact ul li{
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 30px;
}
.header__contact ul li:last-child{
 padding-right: 20px;
}
.header__contact ul li:first-child{
  padding-left: 0;
}
.header__contact ul li a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.header__contact ul li i{
   color: #fff;
   padding-right: 5px;
}
.header__contact__mobile{
  display: none;
}

/* Main */
.main__block__one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.main__block__one  .info  {
   width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.main__block__one  .info  h2{
   padding: 20px 0;
   font-family: AdverGothicRegular;
   font-size: 30px;
   text-transform: uppercase;
   color: #26439f;
}
.main__block__one  .info ul li{ 
   margin-bottom: 10px; 
   font-weight: bold;
   font-size: 25px;
   color: #26439f;
}
.main__block__one  .info ul li:last-child{ 
   margin-bottom: 20px; 
}
.main__block__one .image img{
    max-width: 100%;
    height: auto;
    display: flex;
}

.main__block__two{
    display: flex;
    justify-content: space-between;
    align-items: center;         
    background-color: #26439f;
}
.main__block__two .map{
    display: flex;
    align-items: center;   
    width: 750px;   
}
.main__block__two .map iframe{
    padding: 15px;
    height: 320px;
    width: 100%;
}
.main__block__two .info{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__block__two  .info  h2{
    padding: 20px 0;
    font-family: AdverGothicRegular;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
 }
.main__block__two  .info a{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
 }

.main__block__three{
    display: flex;
    justify-content: space-between;
    align-items: center;         
    background-color: #fff;
}
.main__block__three .image img{
    padding-right: 20px;
    max-width: 300px;
    height: auto;
}
.main__block__three  .info  {
    display: flex;
    flex-direction: column;
    max-width: 800px;
 }
.main__block__three  .info  h2{
    padding: 20px;
    font-family: AdverGothicRegular;
    font-size: 30px;
    text-transform: uppercase;
    color: #26439f;
}
.main__block__three  p{ 
    padding: 0 20px 20px 20px ;
    font-size: 25px;
    color: #26439f;
 }

 .main__block__four{
  display: flex;
  justify-content: space-between;
  align-items: center;         
  background-color: #26439f;
}
.main__block__four .image img{
  margin: 20px 0 10px 50px;
  max-width: 245px;
  height: auto;
}
.main__block__four  .info {
  padding: 20px 40px 20px 20px;
  max-width: 800px;
}
.main__block__four  .info  h2{
  font-family: AdverGothicRegular;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}
.main__block__four  .info p{
  padding-top: 20px;
  font-size: 25px;
  color: #fff;
}
/* Footer */
.footer__body{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #26439f;
}
.footer__body p {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}



/* Media requests */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  /* Header */
  .header__wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__title h1{
    margin-right: 0;
    margin-bottom: 10px;
}
  /* Main */
    .main__block__two .map{  
        width: 640px;   
    }
    .main__block__two .map iframe{        
        height: 285px;
    }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }  
   /* Header */
   .header__title h1{
    font-size: 25px;
   }
   .header__contact ul li {
      padding-left: 20px;
}
   /* Main */
   .main__block__one  .info  h2{
   font-size: 21px;
   }
   .main__block__one  .info ul li{    
   font-size: 18px;
   }

   .main__block__two .map{  
        width: 496px;   
    }
   .main__block__two .map iframe{        
        height: 225px;
    }
   .main__block__two  .info  h2{
        font-size: 21px;
        }
   .main__block__two  .info a{    
        font-size: 20px;
        }

    .main__block__three  .info  h2{
        font-size: 21px;
        }
    .main__block__three  .info  p{
        font-size: 18px;
        }
    .main__block__four  .info  h2{
        font-size: 21px;
        } 
    .main__block__four  .info p{
       font-size: 18px;
        }
        
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  } 
  /* Header */
  .header__contact{
    display: none;
  }
  .header__title h1{
    margin-bottom: 0;
  }
  .header__contact__mobile{
    display: block;
    width: 100%;
    height: 60px;
    background-color: #26439f;
  }
  .header__contact__mobile ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px #fff solid;
  }
  .header__contact__mobile ul li a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
  .header__contact__mobile ul li i{
   color: #fff;
   padding-right: 2px;
}
  /* Main */
  .main__block__one{
    flex-direction: column;
  }
  .main__block__one .info{
    width: 100%;
    order: 2;
  }
  .main__block__one  .info  h2{
    font-size: 25px;
 }
  .main__block__one  .info ul li{    
    font-size: 20px;
 }
  .main__block__one .image{
    order: 1;
  }

  .main__block__two{
    flex-direction: column;
  }
  .main__block__two .map{
    order: 2;
    width: 100%;
  }
  .main__block__two .info{
    order: 1;
    width: 100%;
  }
  .main__block__two  .info  h2{
    font-size: 25px;
  }

  .main__block__three{
    flex-direction: column;
  }
  .main__block__three .image{
    order: 1;
  }
  .main__block__three .image img{
    max-width: 150px;
    padding-right: 0;
  }
  .main__block__three .info{
    order: 2;
  }
  .main__block__three  .info h2{
      padding-top: 0;
      text-align: center;
  }
  .main__block__three  .info p{
      text-align: justify;
  }
  .main__block__four{
    flex-direction: column;
  }
  .main__block__four  .info {
    padding: 10px 20px 20px 20px ;
  }
  .main__block__four .image img{
    max-width: 130px;
    margin: 20px 0 0 0;
  }
  .main__block__four .info h2{
    text-align: center;
    padding-top: 10px;
  }
  .main__block__four .info p{
    text-align: justify;
  }
}

@media (max-width: 575px) {
  .container{
      padding: 0;
  }
 /* Header */
  .header__title h1{
       font-size: 25px;
  }
  .header__contact__mobile{
    height: 120px;
    }
  .header__contact__mobile ul{
    flex-direction: column;
    justify-content: center;
    }
  .header__contact__mobile ul li:not(:last-child){
    padding-bottom: 10px;   
  }
  .header__contact__mobile ul li a{
    font-size: 21px;
  }
  /* Main */
 .main__block__two .map iframe{
     padding: 15px 0;
 }
 .main__block__four .image img{
  margin-top: 10px;
 }
 /* Footer */
 .footer__body p {
  font-size: 12px;
 }
}